In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_palette('husl')
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [30]:
#Loading the dataset
data = pd.read_csv('Cars.csv')

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           29 non-null     object
 1   year           29 non-null     int64
 2   selling_price  29 non-null     int64
 3   km_driven      29 non-null     int64
 4   fuel           29 non-null     object
 5   seller_type    29 non-null     object
 6   transmission   29 non-null     object
 7   owner          29 non-null     object
dtypes: int64(3), object(5)
memory usage: 1.9+ KB

In [32]:
# to count and display the frequency of unique values in a specific column
data['name'].value_counts()

name
Tata Indigo Grand Petrol             4
Maruti 800 AC                        2
Maruti Wagon R LXI Minor             2
Hyundai Verna 1.6 SX                 2
Datsun RediGO T Option               2
Honda Amaze VX i-DTEC                2
Maruti Alto LX BSIII                 2
Hyundai Xcent 1.2 Kappa S            2
Hyundai Creta 1.6 VTVT S             2
Maruti Celerio Green VXI             2
Chevrolet Sail 1.2 Base              2
Toyota Corolla Altis 1.8 VL CVT      2
Maruti Ciaz VXi Plus                 1
Hyundai Venue SX Opt Diesel          1
Chevrolet Enjoy TCDi LTZ 7 Seater    1
Name: count, dtype: int64

In [33]:
#checking missing values
data.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [34]:
#check and eliminate duplicates
data.duplicated().sum()

13

In [35]:
df=data.drop_duplicates()

df.duplicated().sum()

0

In [36]:
#Splitting data into training and testing sets
X = data.drop(['name', 'year'], axis=1)
y = data['year']
# print(X.head())
print(X.shape)
# print(y.head())
print(y.shape)

(29, 6)
(29,)

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=5)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(17, 6)
(17,)
(12, 6)
(12,)

In [38]:
#Checking the number of unique values in each column
data.nunique()

name             15
year              9
selling_price    15
km_driven        13
fuel              3
seller_type       2
transmission      2
owner             2
dtype: int64

In [39]:
#Data Inspection
data.head()
data.tail()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
24,Tata Indigo Grand Petrol,2014,250000,100000,Petrol,Individual,Manual,First Owner
25,Toyota Corolla Altis 1.8 VL CVT,2018,1650000,25000,Petrol,Dealer,Automatic,First Owner
26,Maruti Ciaz VXi Plus,2015,585000,24000,Petrol,Dealer,Manual,First Owner
27,Hyundai Venue SX Opt Diesel,2019,1195000,5000,Diesel,Dealer,Manual,First Owner
28,Chevrolet Enjoy TCDi LTZ 7 Seater,2013,390000,33000,Diesel,Individual,Manual,Second Owner

In [ ]:
# Apply MINMAX scaling Scale features to a specific range (e.g., [0, 1]). This can be useful for some regression algorithms
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X = scaler.fit_transform(X)